@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

@layer utilities {
	.module-skew {
		width: 60%;
		transform: skew(27.4deg);
		border-radius: 0 0 45px 20px;
		margin: 0 auto;
		box-shadow: -146px 0px #077d83;
		position: relative;
		top: 50px;
		left: -35px;
	}

	.module-skew-inner {
		transform: skew(-27.4deg);
		display: inline-block;
	}
	.regular-skew {
		transform: skew(27.4deg);
		box-shadow: -346px -779px 0 346px #523249;
		border-radius: 0 0 0 20px;
	}

	.community-hero-skew {
		position: relative;
		width: 80%;
		transform: skew(-35deg);
	}
	.community-inner-skew {
		transform: skew(35deg);
	}

	.bulb-bg-position {
		background-position: right 10% center;
	}

	.bulb-bg-size {
		background-size: 100px;
	}
	.accordion-border-full {
		box-shadow: 0 0 0 1px #46474a;
		-webkit-box-shadow: 0px 0px 0px 1px #46474a;
		-moz-box-shadow: 0px 0px 0px 1px #46474a;
		transition-duration: 500;
		transition: ease-in-out;
		transition: all;
	}
	.accordion-border-bottom {
		box-shadow: 0px 1px 0px 0px #46474a;
		-webkit-box-shadow: 0px 1px 0px 0px #46474a;
		-moz-box-shadow: 0px 1px 0px 0px #46474a;
		transition-duration: 500;
		transition: ease-in-out;
		transition: all;
	}

	._cUP1np9gMvFQrcPftuf.xahN8AEzyAvQtVj17TP {
		margin-top: 0;
		margin-bottom: 0;
	}
}
/* .container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
} */

.ReactCollapse--collapse {
	transition: height 500ms;
}
